<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <machineKey 
      validationKey="D7D276AF222875B9F6371A84C46325747389ACCF8A27427018BCCDB7E035676BF350AFF10AF1C8EB6377F117CA445805F0CD09296169954B0D3F1932568D7BF7"
      decryptionKey="CB496172C1E03C6B39B796E6F15A2A43C121EBCD3EF20719C3D1BD3AFC780F0E"
      validation="SHA1" decryption="AES"
      />
    </system.web>

</configuration>
